h1{
   color:red; 
   font-family:'Original Surfer', cursive;
}

h2{
 color:red; 
 font-family:'Original Surfer', cursive;
}
.form1600 {
    background-image: url(images/tracktrail.jpg);
    border:black 5px solid;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-size: cover;
    width: 80%;
    height: 50%;
    color: white;
    font-family: 'Original Surfer', cursive;
}
.homepagebg{
  background-image: url(images/tracksunset.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-size: cover;  
}    

.center{
    text-align: center;
}
.logo-medium{
    width: 50%
    
}