h1{
   color:red; 
   font-family:'Original Surfer', cursive;
}

h2{
 color:red; 
 font-family:'Original Surfer', cursive;
}
.form1600 {
    background-image: url(images/tracktrail.jpg);
    border:black 5px solid;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-size: cover;
    width: 80%;
    height: 50%;
    color: white;
    font-family: 'Original Surfer', cursive;
}
.homepagebg{
  background-image:
   linear-gradient(black, black),
   url(images/tracksunset.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-size: cover; 
  background-blend-mode: saturation;
   
}    

.center{
    text-align: center;
}
.logo-medium {
    width: 50%;
    
    
}
.pagetitle {border-bottom:1px solid #cccccc; padding-bottom:30px; margin-bottom:30px;}

.carousel-h500 img
    {max-height: 200px;
     height: 200px;
     width: auto;}