{% extends 'base.html' %}


{% block content %}

        <br>
        <h1 class="center">Welcome to our Warrior Runner Database! </h1>
        <h2 class="center">Below is the list of Runners</h2>
        <br>
        <div class="container">
            <table class="table table-striped table-dark">
                <tr>
                  <th>Runner ID</th>  
                  <th>Firstname</th>
                  <th>Lastname</th>
                  <th>Age</th>
                  <th>Group</th>
                </tr>
                {% for runner in runners %}
                <tr>
                  <td>{{ runner.id }}</td>
                  <td>{{ runner.firstname }}</td>
                  <td>{{ runner.lastname }}</td>
                  <td>{{ runner.age }}</td>
                  <td>{{ runner.group }}</td>
                </tr>
                {% endfor %}
              </table>   
        </div>
    
{% endblock content %}