<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
      <h1>{{ name }}, Welcome to the Site!</h1>
      <h2>{{ letters[0]}} is the first letter in {{ name }}'s name</h2>
      <h3>Here are the letters in {{ name }}'s name:</h3>
      <ul>
          {% for item in name %}
          <li>{{ item }}</li>
          {% endfor %}
      </ul>

      {% if 'o' in name %}
    <p>Found the o!</p>
    {% else %}
    <p>hmmm. o not in this name</p>
    {% endif %}

      <h2>Here is a pic {{ name }}'s puppy. His name is {{ pup_dict['pup_name'] }}</h2>
      <img src="../static/puppy.jpg" alt="puppy">
        
        <script src="" async defer></script>
    </body>
</html>