{% extends 'base.html' %}


{% block content %}
    <br>
    <!-- Contact us page starts here-->
    <h1 class="center">We are waiting to hear from you!</h1>
    <br>
    <div style="background-image: url({{ url_for('static', filename='img/tracksunset.jpg') }})" class="container homepagebg">
    <!-- contact us form starts here-->
    <div class="container">
        <form action="{{url_for('contactus')}}" method="post" enctype="multipart/form-data">
            {{ form.csrf_token }}
            {{ form.hidden_tag() }}
        <br>
        <div class="row">
        <div class="col">
            {{ form.first.label }}{{ form.first }}
        </div>
        <div class="col">
            {{ form.last.label }}{{ form.last }}
        </div>
        </div>
        <br>
        <div class="row">
        <div class="col">
            {{ form.email.label }}{{ form.email }} 
        </div>
        <div class="col">
            {{ form.phonenum.label }}{{ form.phonenum }}
        </div>
        </div>
        <br>
        <div class="row">
        <div class="col">
            {{ form.message.label }}{{ form.message }}
        </div>
        <div class="col">
            {{ form.file.label }}{{ form.file }}
        </div>
        </div>
        <br>
        {{ form.submit() }}
        <br>
    </form>
    </div>
    
    
    
{% endblock content %}