{% extends 'base.html' %}


{% block content %}

        
        <div class="container">
        <h1 class="center text-dark">Welcome to the NEW Warriors Youth Running Website!</h1>
        <h1 class="center text-dark">Coming Soon!</h1>
        {% if current_user.is_authenticated %}
        <h3 class="center text-light">Welcome back {{ current_user.username }}!</h3>
        {% else %}
        <h3 class="center text-dark">Please login or register if you are a member of our Team</h3>
        <h3 class="center text-dark">If you are part of the general public please enjoy all our public running resources!</h3>
        {% endif %}
        </div>

    
{% endblock content %}