{% extends 'base.html' %}


{% block content %}
    <br>
    <div class="container">
        <div class="row">
        <div class="col-sm">
            <p>General Info:<br />Targeting ages 6-14 (up to end of 8th grade) but we will take older kids for extra coaching<br />Pizza Parties, Team Meetings, Pool Parties, Team Banquets, <br />practice are:<br />Distance: Mon Weds Fri 5:30 PM<br />Locations: California High School Track</p>
        </div>
        <div class="col-sm">
            <img class="img-fluid logo-medium mx-auto d-block" src="/static/img/girls.jpg" alt="girls race start">
        </div>
        </div>
        <div class="row">
        <div class="col-sm">
            <img class="img-fluid logo-medium mx-auto d-block" src="/static/img/boys.jpg" alt="boys race start">
        </div>
        <div class="col-sm">
            <p><span style="color: #2a2a2a;">Cost:&nbsp;<br />Returning Runners: $120<br />Includes:</span></p>
            <ul>
            <li><span style="color: #2a2a2a;">4 1/2 months of Training and Racing</span></li>
            <li><span style="color: #2a2a2a;">2 fully paid USATF Meets</span></li>
            <li><span style="color: #2a2a2a;">USATF Championship meet for those that qualify</span></li>
            <li><span style="color: #2a2a2a;">Banquet Fees (trophy, program&nbsp;and meal for runner)</span></li>
            </ul>
            <p><span style="color: #2a2a2a;">New Runners: $165<br />Includes:</span></p>
            <ul>
            <li>4 1/2 months of Training and Racing</li>
            <li>Team Uniform Top</li>
            <li>Team Bag</li>
            <li>2 fully paid USATF Meets</li>
            <li>USATF Championship meet for those that qualify</li>
            <li>Banquet Fees (trophy, program&nbsp;and meal for runner)</li>
            </ul>
        </div>
        </div>
    </div>
        
    
{% endblock content %}